.formControl.error input,
.formControl.error textarea
{
    border: solid red 2px;
}

.formControl.error span
{
    color: red;
}

.formSummaryError {
    border: red 1px solid;
    padding: 5px;
    color: red;
}
.test { 
    border: 1px solid grey;
    width: 180px;
    text-align: center;
    position: relative;
    margin: 20px 0 0 0;
}